body
{
    /*This pattern is downloaded from www.subtlepatterns.com If you need more, that's where to get'em.*/
    background-image: url('/static/odo_correction/img/criss-cross.png');
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #cc0000;
    margin: 0;
}

.logo
{
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background-color: #909090;
    opacity: 0.75;

}

.logo h1
{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #eeffee;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.logo img
{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.bar
{
    padding: 3px;
    background-color:#737373;
    margin-top: 100px;
}

.upload-freme
{
    margin-left: 20px;
    margin-top: 20px;
    width: 390px;
    border-right: 2px solid black;
    display: inline-block;
}

.file-upload
{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-upload__input
{
    display: none;
}

.file-upload__button
{
    -webkit-appearance: none;
    background-color: #b30000;
    border: 2px solid #800000;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #efefef;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.file-upload__button:active
{
    background: #800000;
}

.file-upload__label
{
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-upload__submit
{
    -webkit-appearance: none;
    background-color: #00b33c;
    border: 2px solid #00802b;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #efefef;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.file-upload__submit:active
{
    background: #00802b;
}